page-donation {

  .title{
      text-align: center;
      width: 130px;
      height: 30px;
      margin-left: 50px
  }

  .btn-search{
      padding-left: 30px;
      float: right;
  }

  .txt-donation{
      float: inherit;
      margin-top: -30px;
      margin-left: 40px
  }

  .img-donation{
      width: 60px;
      height: 50px;
      text-align: center;
  }

  ion-card{
      text-align: center;
  }

  .btn-add-donate{
      border-radius: 20px;
      font-size: 12px
  }

  .footer-toolbar{
      text-align: center;
  }

  .btn-footer{
      text-align: center;
      padding: 0px 10px 0px 10px;
  }
}
