page-home {

.title{
    padding-left: 90px
}

.btn-search{
    padding-left: 30px;
    float: right;
}

.txt-donation{
    float: inherit;
    margin-top: -30px;
    margin-left: 40px
}

.img-donation{
    width: 60px;
    height: 50px;
    text-align: center;
    margin-left: 20px
}

ion-card{
    text-align: center;
}

.btn-add-donate{
    border-radius: 20px;
    font-size: 12px
}
}
