page-sign-up {

  overflow: hidden;

  img{
    margin: 0px auto;
    vertical-align: middle;
  }

  .logo{
    display: block;
  }

  .check{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 50px auto;
    display: block;
  }

}
