page-sign-up {

  /* Css Reset */

  *{
    margin: 0px;
    padding: 0px;
  }

  #progress{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
  }

  #progress li{
    list-style: none;
    color: #ff0a2f;
    font-size: 14px;
    float: left;
    width: 33.33%;
    position: relative;
  }

  #progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 25px;
    display: block;
    line-height: 25px;
    background-color: #ffffff;
    border: 5px solid rgba(255, 0, 0, 0.3);
    border-color: #ffffff rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    margin: 0px auto 10px auto;
  }

  #progress li:after{
    content: '';
    width: 100%;
    background-color: rgba(255, 0, 0, 0.4);
    height: 5px;
    position: absolute;
    top: 16px;
    left: -50%;
    z-index: -1;
  }

  #progress li:first-child:after{
    content: none;
  }

  #progress li.active:before{
    width: 24px;
    line-height: 24px;
    border: 5px solid #ff0a2f;
    color: #ffffff;
    background: #ff0a2f;
    border-radius: 50%;
  }

  #progress li.active:after{
    background-color: #ff0a2f;
    color: #ff0a2f;
  }

  #formulario{
    width: 100%;
    position: relative;
  }

  #formulario fieldset{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    margin: 0px auto;
    position: absolute;
    padding: 30px 0px 0px 10px;
  }

  #formulario fieldset:not(:first-of-type){
    display: none;
  }

  ion-input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 0px 0px 0px 10px;
  }

  .containers{
    list-style: none;
    float: right;
    display: inline-block;
    padding: 5px 0px;
    border: 1px solid #ff0a2f;
    border-radius: 25px;
  }

  .containers:after{
    content: " ";
  }

  .containers .container{
    display: inline-block;
  }

  .containers .container label {
    cursor: pointer;
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    border-radius: 25px;
  }

  .containers .container input[type="radio"] {
    display: none;
  }

  .containers .container input[type="radio"] + label{
    padding: 0px 3px;
  }

  .containers .container input[type="radio"]:checked + label {
    padding: 5px 12px;
    background: #ff0a2f;
    border-radius: 25px;
    color: #fff;
  }

  .containers .container input[type="radio"]:checked + label.opcao{
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
  }

  .containers .container input[type="radio"]:checked + label.opcao2{
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
  }

  .containers .container input[type="radio"]:checked + label.opcaoM{
    border-radius: 0px;
  }

  select{
    width: 70%;
    float: right;
    user-select: none;
    border: none;
    color: #ff0a2f;
    overflow: hidden;
    padding: 2px 8px;
  }

  .left{
    border-radius: 15px;
    position: absolute;
    top: 360px;
    left: 75px;
  }

  .right{
    border-radius: 15px;
    position: absolute;
    top: 360px;
    left: 150px;
  }

}
