<ion-card>

  <ion-card-header>
    <p><b></b></p>
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <b color="primary">Campanhas próximas a você</b>
  </ion-card-header>
</ion-card>

<ion-card>

  <ion-card-content>
    <p class="titlecampaing"><b>{{campaign.title}}</b></p>
    <p><b>{{campaign.description}}</b></p>
  </ion-card-content>

  <!--<ion-row>

    <button ion-button color="primary" class="btn-campaigns" (click)="acessEnd()>
      <ion-icon name="pin">
        Endereço
      </ion-icon>
    </button>

    <button ion-button color="primary" class="btn-campaigns" (click)="acessTel()">
      <ion-icon name="call">
        Telefone
      </ion-icon>
    </button>


    <button ion-button color="primary" class="btn-campaigns" (click)="acessSite()">
      <ion-icon name="globe">
        Site
      </ion-icon>
    </button>
  </ion-row>-->
</ion-card>
