page-information {
.title{
    text-align: center;
    width: 130px;
    height: 30px;
    margin-left: 50px
}

.btn-search{
    padding-left: 30px;
    float: right;
}

.txt-exame{
    float: inherit;
    margin-top: -30px;
    margin-left: 40px
}

.img-exame{
    width: 60px;
    height: 50px;
    text-align: center;
    margin-left: 20px
}

ion-card{
    text-align: center;
}

.btn-add-exame{
    border-radius: 20px;
    font-size: 12px
}

.footer-toolbar{
    text-align: center;
    
}

.btn-footer{
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: 18px
}
}
