page-information {

  .scroll-content{
    overflow: hidden;
  }

  .title{
    width: 130px;
    height: 30px;
    margin: 0px auto;
    display: block;
    vertical-align: middle;
  }

  .btn-search{
      padding-left: 30px;
      float: right;
  }

  .txt-inform{
      float: inherit;
      margin-top: -30px;
      margin-left: 40px
  }

  .img-inform{
      width: 60px;
      height: 60px;
      text-align: center;
      margin-left: 20px;
      vertical-align: middle;
  }

  ion-card{
      text-align: center;
  }

  .footer-toolbar{
      text-align: center;

  }

  .btn-footer{
      text-align: center;
      padding: 0px 10px 0px 10px;
  }

  a{
    cursor: pointer;
  }
}
